<html>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<link rel='icon' href='/img/logo2.png' />
		<title>Myntra local</title>
		

		<link
			href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css'
			rel='stylesheet'
			integrity='sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We'
			crossorigin='anonymous'
		/>
    
		<link rel="stylesheet" href="/css/shop-style.css">
    
		
	</head>
	<body>
    <div class="myalert">  </div>
        {{>header}}
	
		<div class="container">
			<div class="shop-details">
				<div class="shop-pic"><img id="shop_pic" src="https://images.unsplash.com/photo-1441984904996-e0b6ba687e04?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8Y2xvdGhpbmclMjBzdG9yZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="shop-img"></div>
				<div class="shop-info">
					<h1>Pantaloons</h1>
					<h6>Lalpur Chowk, Ahirtoli, Ranchi</h6>
				</div>
				<a href="#"><div class="walkinbtn">
					<button type="button" class="btn btn-primary btn-lg" style="text-align: justify;">Myntra WalkIn</button>
				</a>
				</div>
			</div>
			<div class="products">
				<div class="row mt-3"></div>

       <h5>Casual Shirts For Men <div class="opacity-25"></div></h5>

     <div class="container-fluid">
         <div class="row">
            
                 <div class="col-2">
                    <h3>Filter</h3>
                    <div class="row">
                       <h6>Brand</h6> 
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Roadster
                        </label>            
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Louis Philippe Sport
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Allen Solly
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Peter England Casuals
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            ColorPlus
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Blackberrys
                        </label>
                      </div>
                 </div>
                 
                 


                 
               
<div class="col-1">
    

   
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Add-ons</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
    </li>



<div class="row mt-4"></div>
    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <img src="https://assets.myntassets.com/f_webp,dpr_1.0,q_60,w_210,c_limit,fl_progressive/assets/images/1364628/2016/8/31/11472636737718-Roadster-Men-Blue-Regular-Fit-Printed-Casual-Shirt-6121472636737160-1.jpg" class="rounded mx-auto d-block img-fluid" alt="...">
            <div class="card-body">
              <h5 class="card-title">Roadster</h5>
              <p class="card-text">Printed Casual Shirt<h5>₹749</h5><p><del>₹999</del> <a href="#" class="link-danger">(25% OFF)</a></p></p>
              <div class="cart">
                <button type="submit" class="btn cartbtn btn-primary">Add to Cart</button>
              </div>
            </div>
          </div>
    </div>

    

    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <img src="https://assets.myntassets.com/f_webp,dpr_1.0,q_60,w_210,c_limit,fl_progressive/assets/images/7488102/2019/8/22/8002a744-0dad-4dbb-9481-cf0090134c3b1566454086786-Dennis-Lingo-Men-Pink-Slim-Fit-Solid-Casual-Shirt-9891566454-1.jpg" class="rounded mx-auto d-block" alt="...">
            <div class="card-body">
              <h5 class="card-title">Dennis Lingo</h5>
              <p class="card-text">Men Slim Fit Casual Shirt<h5>₹665</h5><p><del>₹999</del> <a href="#" class="link-danger">(33% OFF)</a></p></p>
              <div class="cart">
                    <button type="submit" class="btn cartbtn btn-primary">Add to Cart</button>
              </div>
            </div>
          </div>
               </div>
                 </div>
                 <div class="col-1">
                    
                </div>
                <div class="col-1">
                    
                  
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Bundles</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Separated link</a></li>
                    </ul>
                  </li>
              



                    
                    <div class="row mt-4"></div>
             <div class="row">
                <div class="col-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://assets.myntassets.com/f_webp,dpr_1.0,q_60,w_210,c_limit,fl_progressive/assets/images/2414313/2018/3/13/11520926368526-HERENOW-Men-Red--Black-Regular-Fit-Checked-Casual-Shirt-8881520926368447-1.jpg" class="rounded mx-auto d-block" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">HERE&NOW</h5>
                          <p class="card-text">Men Regular Fit Casual Shirt<h5>₹749</h5><p><del>₹1499</del> <a href="#" class="link-danger">(50% OFF)</a></p></p>
                          <div class="cart">
                            <button type="submit" class="btn cartbtn btn-primary">Add to Cart</button>
                          </div>
                        </div>
                      </div>
                </div>

                

            </div> 
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://assets.myntassets.com/f_webp,dpr_1.0,q_60,w_210,c_limit,fl_progressive/assets/images/1272502/2018/2/5/11517823086440-Highlander-White-Slim-Fit-Casual-Shirt-161517823086304-1.jpg" class="rounded mx-auto d-block" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">HIGHLANDER</h5>
                      <p class="card-text">Slim Casual Shirt<h5>₹985</h5><p><del>₹1999</del> <a href="#" class="link-danger">(50% OFF)</a></p></h5></p>
                      <div class="cart">
                        <button type="submit" class="btn cartbtn btn-primary">Add to Cart</button>
                      </div>
                    </div>
                  </div>
            </div>
                </div>
                <div class="col-1">
                    

                 
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Character</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Separated link</a></li>
                    </ul>
                  </li>
              




                    <div class="row mt-4"></div>
                </div>
                <div class="col-1">
                    

                    
                      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Collar</a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                      </ul>
                    </li>
                




                    <div class="row mt-4"></div>
                </div>
                <div class="col-1">
                    

                  
                      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Contry of Origin</a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                      </ul>
                    </li>
                

                    <div class="row mt-4"></div>
                    <div class="col-3">
                        <div class="card" style="width: 18rem;">
                            <img src="https://assets.myntassets.com/f_webp,dpr_1.0,q_60,w_210,c_limit,fl_progressive/assets/images/14632960/2021/7/5/cd522eb5-81e0-4b9b-a856-9b45c93d4e0c1625471055344-US-Polo-Assn-Denim-Co-Men-Shirts-81625471054513-1.jpg" class="rounded mx-auto d-block" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">US POLO</h5>
                              <p class="card-text">Men Solid Casual Shirt<h5>₹678</h5><p><del>₹999</del> <a href="#" class="link-danger">(32% OFF)</a></p></p>
                              <div class="cart">
                                <button type="submit" class="btn cartbtn btn-primary">Add to Cart</button>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="col-3">
                        <div class="card" style="width: 18rem;">
                            <img src="https://assets.myntassets.com/f_webp,dpr_1.0,q_60,w_210,c_limit,fl_progressive/assets/images/2127876/2017/11/23/11511431472633-Roadster-Men-Black-Regular-Fit-Solid-Casual-Shirt-8801511431472500-1.jpg" class="rounded mx-auto d-block" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Roadster</h5>
                              <p class="card-text">Men Regular Fit Casual Shirt<h5>₹897</h5><p><del>₹1899</del> <a href="#" class="link-danger">(52% OFF)</a></p></p>
                              <div class="cart">
                                <button type="submit" class="btn cartbtn btn-primary">Add to Cart</button>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="col-1">
                    

                    




                    <div class="row mt-4"></div>
                </div>
                <div class="col-1">
                    


                      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">14+</a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                      </ul>
                    </li>
                



                    <div class="row mt-4"></div>
                    <div class="col-3">
                        <div class="card" style="width: 18rem;">
                            <img src="https://assets.myntassets.com/f_webp,dpr_1.0,q_60,w_210,c_limit,fl_progressive/assets/images/11475244/2020/6/19/2bd1dbbb-fd72-4fcd-8dfa-0edab0d0abfc1592549833202ShirtsNauticaMenShirtsNauticaMenShirtsNauticaMenShirtsNautic1.jpg" class="rounded mx-auto d-block" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Nautica</h5>
                              <p class="card-text">Classic fit Shirt<h5>₹987</h5><p><del>₹1999</del> <a href="#" class="link-danger">(50% OFF)</a></p></p>
                              <div class="cart">
                                <button type="submit" class="btn cartbtn btn-primary">Add to Cart</button>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="col-3">
                        <div class="card" style="width: 18rem;">
                            <img src="https://assets.myntassets.com/f_webp,dpr_1.0,q_60,w_210,c_limit,fl_progressive/assets/images/2256568/2018/4/3/11522749277396-HIGHLANDER-Men-Teal-Slim-Fit-Solid-Casual-Shirt-7301522749277212-1.jpg" class="rounded mx-auto d-block" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">HIGHLANDER</h5>
                              <p class="card-text">Men silm fit Casual Shirt<h5>₹866</h5><p><del>₹999</del> <a href="#" class="link-danger">(13% OFF)</a></p></p>
                              <div class="cart">
                                <button type="submit" class="btn cartbtn btn-primary">Add to Cart</button>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
                
                <div class="col-2">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Sort By :<h5>Recommended</h5></option>
                        <option value="1">...</option>
                        <option value="2">...</option>
                        <option value="3">...</option>
                      </select>
                </div>
             </div>
  
         </div><br>

         <div style="width:fit-content; margin: auto;">
         <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav></div>

			</div>
		</div>
    {{>footer}}
    <script src="/js/shop.js"></script>
    <script src="/js/carts.js"></script>
    <script src="https://kit.fontawesome.com/908c6761fc.js" crossorigin="anonymous"></script>
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	</body>
</html>