<!-- Footer -->
<br>
<footer class="page-footer font-small blue pt-4 alert-info">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    {{!-- <div class="row">
      <div class="col-md-6 mt-md-0 mt-3"></div>
      kafhjfjfnjag


    </div> --}}

    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h6>This site has been solely designed and created by team TRYHARDERS</h6>
        <h5>Birla Institute of Technology, Mesra</h5>
        <h4>Theme: Enhance</h4>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->

      <div class="col-md-6 mt-md-0 mt-3">
          <div class="row mb-3">
              <h5>In case of any further queries or to raise a concern, contact us at:</strong>
          </div>
          <div class="row">
      <div class="col-md-6 mb-md-0 mb-3">

        <!-- Links -->
        {{!-- <h5 class="text-uppercase">Name</h5> --}}

        <ul class="list-unstyled">
          <li>
            Vinamra Dash
          </li>
          <li>
            Deep Rishi
          </li>
          <li>
            Ankit Kumar 
          </li>
          <li>
            Sarthak
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      
      <div class="col-md-6 mb-md-0 mb-3">

        <!-- Links -->
        {{!-- <h5 class="text-uppercase">Emails</h5> --}}

        <ul class="list-unstyled">
          <li>
            <a href="#!">dashvinamra@gmail.com</a>
          </li>
          <li>
            <a href="#!">deeprishi88@gmail.com</a>
          </li>
          <li>
            <a href="#!">ankitagrawal700aa@gmail.com</a>
          </li>
          <li>
            <a href="#!">sarthak1912@gmail.com</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->
      </div>
      </div>

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 alert-primary">© 2021 Copyright:
    <a href="#"> TRYHARDERS</a>.  All rights reserved.
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->